# COPY THIS FILE AND CHANGE THE NAME: xdebug.ini.exampe => xdebug.ini

# https://xdebug.org/docs/upgrade_guide
# https://xdebug.org/docs/all_settings#mode
xdebug.mode = debug

# https://xdebug.org/docs/all_settings#discover_client_host
xdebug.discover_client_host = true

# https://xdebug.org/docs/all_settings#client_host
xdebug.client_host = host.docker.internal

# https://xdebug.org/docs/all_settings#client_port
xdebug.client_port = 9362

# https://xdebug.org/docs/all_settings#start_with_request
xdebug.start_with_request = yes

# https://xdebug.org/docs/all_settings#idekey
xdebug.idekey = docker


# https://xdebug.org/docs/all_settings#cli_color
xdebug.cli_color = 1
