-----BEGIN CERTIFICATE-----
MIIEWDCCAsCgAwIBAgIQSHUOjGPj/Zb4vqYw4x4Q5TANBgkqhkiG9w0BAQsFADB9
MR4wHAYDVQQKExVta2NlcnQgZGV2ZWxvcG1lbnQgQ0ExKTAnBgNVBAsMIGRhdmlk
emFtb3JhQGRhdmlkIChkYXZpZC56YW1vcmEpMTAwLgYDVQQDDCdta2NlcnQgZGF2
aWR6YW1vcmFAZGF2aWQgKGRhdmlkLnphbW9yYSkwHhcNMjIwMzI5MTM0NDM5WhcN
MjQwNjI5MTM0NDM5WjBUMScwJQYDVQQKEx5ta2NlcnQgZGV2ZWxvcG1lbnQgY2Vy
dGlmaWNhdGUxKTAnBgNVBAsMIGRhdmlkemFtb3JhQGRhdmlkIChkYXZpZC56YW1v
cmEpMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArwjWWE+BF2FYajU3
Kwzlt/+/ea8/2ScFsW3P+Y1mO9L4JhL5dk4tn9Nc+3KoY2lOM0H5jstInL+ww6/o
9jHbwl8abetAz+MK3E+i+xlQgf8j0k/90RzM9CnOGD7qeRR93Y/cxNlppQ3AgtSL
yJiZc0meR9UZ+lSR9DxJu0DKHmLvFqsm7FZxqjuVz83N9Lq4W/e2oRe6C6hVGWjP
t72m/j3LAkW1MQBuyNwqn1lluxTs/V8X+qkMcoPqvaKv3v2kV/2nvt5gJtgmzZpi
NJNa2k4MmS7t85Ry7xCiv3oF1dMmxzg06pJgEuoL5sKJX49aMzWh83x6L/xJDFnd
Qd6RZQIDAQABo30wezAOBgNVHQ8BAf8EBAMCBaAwEwYDVR0lBAwwCgYIKwYBBQUH
AwEwHwYDVR0jBBgwFoAUuv+5vStLVDHKol2+1oyfN7MsGyUwMwYDVR0RBCwwKoIY
d3d3LmRvY2tlci5taW5kZXJlc3QuY29tgg5taW5kZXJlc3QudGVzdDANBgkqhkiG
9w0BAQsFAAOCAYEAiEHYFuDB3FvKgkCookj8WiVHMVkB5NGO23e411p/bzMji1K9
y0A/xWALYNe3D2R5on0l0Rjq1DRJS/T7TETPBt57syMbJXO3cX/xJyIdQeIo06vI
N898xT9N5B9PrcOoXd1yMSC7Ma7CzUlsFRCC1bi4cR+y7hz/jBmIBeXakRhk+ysw
kTpqn8jzV307GRb6up0EN2Ap9qWop1GvqPhX9EeRloAOfgbPZs8bO6nL/dSCWCEi
tK62hvh3vIGcPV7fI6utjSRBYbrojQRzA5BdNKD0rmJiS5ICgjGkuEuQOkQ9hHPI
vKXw4spydLeIHTWsMMiSjx4F7IQgsC+6wcKpYpE5fpzawwgVkXIQr1wvV+iNm/hr
rrUNwp8wc+DBakwXjG6RXVJVcq/MhXBLGYSmLx111LqUyoLDjiMkrlQLd1V9lSmo
3rwKQgL/v+A5tQ1LArsMahukbcQPF2PqREGnhOSS2hlh3duQ0U4ncJX5WJ3qLoL7
HHtlvMg2HBoJ3Fbq
-----END CERTIFICATE-----
